/*
   This document has been created with Marked.app <http://marked2app.com>
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   Title: Ulysses Freestraction Light
   Author: Jonathan Poritsky <http://candlerblog.com>
   Description: Based on the Freestraction color scheme used in Ulysses III <http://www.ulyssesapp.com>.
   For more information read the introductory post: http://candlerblog.com/2013/04/11/ulysses-iii-and-marked/ 
*/

/*
   This document has been modified by me
   Please leave this notice in place, along with any additional credits below.
   ---------------------------------------------------------------
   Author: Antoine Loheac <antoine.loheac@smile.fr>
*/

html {
    color: #333;
}
body {
    padding: 2.3em;
    border: 0;
    font-size: 1em;
    line-height: 1.7em;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,sans-serif;
    max-width: 18cm;
}
a {
    color: #005dffe6;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    /* text-align: center; */
    color: rgb(12,139,186);
    line-height: 1;
    font-weight: 600;
}

h1, h2 {
    border-bottom: 1px solid rgba(12,139,186, 0.5);
    padding-bottom: 10px;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-style: italic;
    font-size: 1em;
}

ol, ul {
    margin-left: -15px;
    margin-right: 25px;
}

ul li {
    /* list-style: none; */
}

/* ul li:before { */
/*     content:'\2010'; */
/*     display: block; */
/*     position: relative; */
/*     max-width: 0; */
/*     max-height: 0; */
/*     left: -.8em; */
/*     top: -.1em; */
/*     color: rgb(12,139,186); */
/*     font-size:1.2em; */
/* } */



li p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.footnote {
    font-size: 50%;
    vertical-align: super;
}

div.footnotes {
    font-size: 80%;
}

pre, code {
    font-family: Inconsolata,"Courier Prime",mono;
    font-size: 80%;
    padding: 2px 10px;
    background: #ddd;
    /* white-space: pre-wrap; */
    border: none;
    line-height: 1.5em;
}

blockquote {
    background:rgb(230,230,230);
    display: block;
    font-style:italic;
    font-weight:200;
    color: rgb(12,139,186);
    padding:0.2em 2em 0.2em 2em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

code {
    font-family: Inconsolata,"Courier Prime",mono;
    font-size: 80%;
    padding: 2px 5px;
    background: #ddd;
    border-radius: 5px;
}

.line-numbers {
    display: none
}

blockquote p {
    margin: 0
}

blockquote {
    margin: 0.4em 1.5em
}

/* table.CodeRay, table.CodeRay tr, table.CodeRay td { */
.CodeRay, .code, table.CodeRay tr {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.CodeRay {
    margin: 1em 0;
}

